li {
  list-style: none;
}
.header {
  background-color: #4169e1;
  height: 50px;
  font-size: 1rem;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
