.content {
  width: 100%;
  overflow: scroll;
  height: 100vh;
}
.content_edit{
  width: 100%;
  overflow: scroll;
}
.content_confirm{
  width: 100%;
  overflow: scroll;
}
.content_new {
  width: 100%;
  overflow: scroll;
}
.content_show {
  width: 100%;
  overflow: scroll;
}
