<header class="header clearfix">
  <nav>
   <ul class="top_menu clearfix">
      <li><%= link_to "TOP",root_path %></li>
      <li><%= link_to "INDEX",mytweets_path %></li>
      <li><%= link_to "TWEET",new_mytweet_path %></li>
    </ul>
  </nav>
  </header>
