<header class="header clearfix">
  <nav>
   <ul class="top_menu clearfix">
      <li><%= link_to "TOP",mytweets_top_path %></li>
      <li><a href="mytweets#index">index</a></li>
      <li><a href="mytweets#index">tweet</a></li>
    </ul>
  </nav>
  </header>
