<header class="header clearfix">
  <nav>
   <ul class="top_menu clearfix">
      <li><a href="mytweets#index">top</a></li>
      <li><a href="mytweets#index">index</a></li>
      <li><a href="mytweets#index">tweet</a></li>
      <li><a href="mytweets#index">tweet_tabe</a></li>
    </ul>
  </nav>
  </header>
